<!DOCTYPE html>

<html lang="en">
<head>
    <title>Beta Testing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h3 class="pb-3">Check Out Beta Developement Here:</h3>
            <div class="dropdown pb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Beta Developments
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="/get/" class="dropdown-item" style="width:100%;">Sample Chart C3</a>
                    <a href="/get2/" class="dropdown-item" style="width:100%;">Sample Graph</a>
                </div>

            </div>
            <div class="row">
                <a href="/userhome/"><i class="fa fa-fw fa-home"></i> Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>