<!doctype html>
<html>
    <head>
      <title>Mandalay Gardens</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron text-center">
        <div class="container p-3 my-3 bg-dark text-white">
            <h1>Welcome User!</h1>
            <p>Monitor Your Farm Here!</p> 
        </div>
        </div>
                        
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-sm-3">
                <h1></h1>
                </div>
                
                <div class="col-sm-3">
                  <h1><a href = "/subs/">Show Live Subscriber Data</a></h1>
                </div>
                <div class="col-sm-3">
                  <h1><a href = "/subsearch/">Search Subscriber Data</a></h1>
                </div>

                <div class="col-sm-3">
                <h1></h1>
                </div>
                
            </div>
        
            <div class="row">

                <div class="col-sm-3">
                <h1></h1>
                </div>
            
                <div class="col-sm-3">
                  <h1><a href = "/login/">Login Here</a></h1>
                </div>

                <div class="col-sm-3">
                <h1><a href = "/addusnmpassw/">Add Username and Password</a></h1>
                </div>

                <div class="col-sm-3">
                </div>
                
            </div>
        </div>
    </body>
</html>
