<!DOCTYPE html>
<html>
   
   <head>
      <title>HTML div Tag</title>
   </head>
	
   <body>
      <!-- First group of tags -->
      <div style = "color:red">
         <h1>This is first group</h1>
         <p>Following is a list of vegetables</p>
         
         <ol type = "1" >
            <li>Beetroot</li>
            <li>Ginger</li>
            <li>Potato</li>
            <li>Radish</li>
         </ol>
      </div>

      <!-- Second group of tags -->
      <div style = "color:green">
         <h1>This is second group</h1>
         <p>Following is a list of fruits</p>
         
         <ol type = "I" >
            <li>Apple</li>
            <li>Banana</li>
            <li>Mango</li>
            <li>Strawberry</li>
         </ol>
      </div>
      
    <!-- Third group of tags -->
      <div style = "color:blue">
         <h4>This is third group</h1>
         <p>Following is a bunch of links</p>
         
         <ol type = "A" >
            <li><a href = "https://media.tenor.com/images/827518bfbad12cb4f199d87474f75535/tenor.gif">ROLL</a></li>
            <li><a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">NEVER GONNA GIVE YOU UP</a></li>
            <li><a href = "https://www.youtube.com/watch?v=gOsM-DYAEhY">Whatever it takes</a></li>
            <li><a href = "https://www.youtube.com/watch?v=lra8LLKL8bo&list=PL5ve4yydMQhL-RSzhiJyNVVZmjOeVw_vZ&index=13">Please dont...</a></li>
            <li><a href = "https://www.youtube.com/watch?v=2D-ZO2rGcSA&list=PL5ve4yydMQhL-RSzhiJyNVVZmjOeVw_vZ&index=22">CLICK HERE!!!</a></li>
         </ol>
      </div>
      
   </body>
   
</html>
